@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5256ad;
}

.region {
    height: 500px;
    width: 700px;
    border: 2px dashed #fff;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.region img {
    border-radius: 7px;
}

.desc {
    font-size: 24px;
    text-transform: capitalize;
}